<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="description" content="{$global.desc}"/>
        <meta name="keywords" content="{$global.keywords/}"/>
        <title>首页-{$global.webname}</title>
        <link rel="shortcut icon" href="/favicon.ico" />
        <include file="Public/import" />
        <link href="__PUBLIC__/bxslider/jquery.bxslider.css" rel="stylesheet" type="text/css"/>  
        <link href="__PUBLIC__/bxslider/skin.css" rel="stylesheet" type="text/css"/>       
        <link href="__PUBLIC__/validateform/homeskin.css" rel="stylesheet" type="text/css"/>       
        <script src="__PUBLIC__/bxslider/jquery.bxslider.min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/validateform/Validform_v5.3.2_min.js" type="text/javascript"></script>      
    </head>

    <body>
        <include file="Public/top"/>
        <!---->
        <if condition="!$user[id]">
            <div class="loding">
                <div class="inprz"></div>
                <div class="iconld">
                    <div class="but dl dl_1"></div>
                    <div class="but zc"></div>
                </div>
                <div class="pos_box">
                    <div class="ldbox">
                        <form action="/login/check_login" id="log-form" method="post">
                            <input class="topt" name="username" type="text" id="log-username" placeholder="请输入手机号"/>
                            <input class="topm" name="password" type="password" id="log-password" placeholder="密码"/>
                            <input type ="submit" value="登录" class="dlicon"/>
                        </form>
                        <div class="ps"><p style=" padding-left:32px">还没有引汇账号？<span id="jzqq">免费注册</span></p></div>
                    </div>
                    <div class="ldbox">
                        <input class="topt" id="getmobile" type="text" placeholder="请输入手机号"/>
                        <div class="yzm">
                            <input id="getverify" class="verify" type="text" placeholder="请输入验证码" style=" width:192px;" />
                            <input id="get_verify" class="get_verify" value="获取验证码" />
                        </div>
                        <input type="button" class="dlicon" id="regist" value="注册" style="color: #fff;" />
                        <div class="ps su"><p>已有账号？<span id="jzqw">请登录</span></p></div>
                    </div>
                </div>
            </div>
        </if>

        <!---->
        <div class="slide-main"  id="touchMain">            
            <div class="slide-box" id="slideContent">
                <volist name="ad_banner" id="vo">
                    <a href="{$vo.url}" target="_blank">
                        <img src="{$vo.photo}" style="height: 420px; width: 100%;"  />
                    </a>
                </volist>                
            </div>             
        </div>

        <!---->

        <div class="center">
            <div class="mid1 clear">
                <div class="zhibo">
                    <div class="tzb clear">
                        <a href="/live#zhibo"></a>
                    </div>
                    <div class="zbhot">                        
                        <a href="{$zhibo_ad.url}" target="_blank"><img src="{$zhibo_ad.photo}" width="300" height="150" /></a>
                    </div>
                    <div class="ll"></div>
                    <div class="zblist">
                        <volist name="zhibo" id="vo">
                            <eq name="key" value="0">
                                <a href="/live/show/{$vo.id}" target="_blank" title="{$vo.title}" class="bule clear"><div class="fl bluet">{:date('H:i',$vo[time])}&nbsp;{$vo.title|strcut=12}</div>
                                    <span class="fr">{$vo[app_num]}人已约看</span></a>
                                <else/>
                                <a href="/live/show/{$vo.id}" target="_blank" title="{$vo.title}" class="clear"><div class="fl">{:date('H:i',$vo[time])}&nbsp;{$vo.title|strcut=12}</div>
                                    <span class="fr">{$vo[app_num]}人已约看</span></a>
                            </eq>
                        </volist> 
                    </div>
                </div>

                <div class="dianbo">
                    <div class="tdb clear">
                        <a href="/live#luyan"></a>
                    </div>
                    <div class="dbhot clear">
                        <a href="/live/ved/{$recommend.dianbo.id}">
                            <img src="__PUBLIC__/home/index-img/dbbg.jpg" width="164" height="128"/>
                        </a>
                        <div class="nei">
                            <a class="h" target="_blank" href="/live/ved/{$recommend.dianbo.id}" title="{$recommend.dianbo.title}">{$recommend.dianbo.title|strcut=10}</a>
                            <a class="p" target="_blank" href="/live/ved/{$recommend.dianbo.id}" title="{$recommend.dianbo.desc}">
                                {$recommend.dianbo.desc|strcut=###,70}
                            </a>
                        </div>
                    </div>
                    <div class="fgline"></div>
                    <div class="dblist">
                        <volist name="dianbo" id="vo">
                            <a href="/live/ved/{$vo.id}" title="{$vo.title}" class="<eq name='key' value='0'>bule</eq> clear">
                                <div class="fl">{$vo.title|strcut=15}</div>
                                <span class="fr">{$vo[zan_num]}人点赞</span>
                            </a>
                        </volist>   
                    </div>
                    <img src="__PUBLIC__/home/images/zan.jpg"/>
                </div> 

                <div class="guand">
                    <div class="tgd clear">
                        <a href="/live#guandian"></a>
                    </div>
                    <div class="gdhot clear">
                        <a href="/live/art/{$recommend.guandian.id}">
                            <img src="__PUBLIC__/home/index-img/gdbg.jpg" width="164" height="128">
                        </a>
                        <div class="nei">
                            <a class="h" href="/live/art/{$recommend.guandian.id}" title="{$recommend.guandian.title}">
                                {$recommend.guandian.title|strcut=###,10}</a>
                            <a class="p" href="/live/art/{$recommend.guandian.id}" target="_blank" title="{$recommend.guandian.desc}">
                                {$recommend.guandian.desc|strcut=###,70}
                            </a>
                        </div>
                    </div>
                    <div class="fgline"></div>
                    <div class="gdlist">
                        <volist name="guandian" id="vo">
                            <a href="/live/art/{$vo.id}" title="{$vo.title}" class="<eq name='key' value='0'>bule</eq> clear"><div class="fl">{$vo.title|strcut=15}</div>
                                <span class="fr">{$vo[zan_num]}人点赞</span></a>
                        </volist> 
                    </div>
                    <img src="__PUBLIC__/home/images/zan.jpg">
                </div> 
            </div>

            <!---->

            <div class="mid2">
                <div class="l_box">
                    <div class="l_t_box">
                        <div class="title_box icon1 icon1_1">
                        </div>
                        <div class="title_box icon2">
                        </div>
                        <div class="title_box icon3">
                        </div>
                        <div class="title_box icon4">
                        </div>
                    </div>
                    <div style="width:788px; height:1px; background-color:#174790"></div>
                    <!---->
                    <div>
                        <volist name="xiangmu" id="vo">
                            <ul class="hd_box">
                                <div class="index_circliful_wrap">
                                    <div class="i-xiangmu"><img src="/Uploads/default/xiangmu_{$vo.shuju.gid}.png" /></div>
                                    <div class="index_circliful_big">--{//$vo.shuju.zrj|conv_unit}</div>
                                    <div class="z-hdbox" style="top:275px;">
                                        <p class="index_circliful_sm" style="margin-left: 46px;">--{//$vo.shuju.jyzj|conv_unit}</p>
                                        <p class="index_circliful_sm">--{//$vo.shuju.pjsy}</p>
                                        <p class="index_circliful_sm">--{//$vo.shuju.zrs}</p>
                                    </div>
                                    <div class="z-hdbox">
                                        <p class="index_circliful_sm" style="margin-left: 46px;">交易中</p>
                                        <p class="index_circliful_sm">收益率</p>
                                        <p class="index_circliful_sm">总人数</p>
                                    </div>
                                </div>                          
                                <div class="hd_r_box">
                                    <volist name="vo.art" id="v2" empty="没有相关数据">
                                        <a target="_blank" <eq name="key" value='0'>class="bule"</eq>  href="/live/art/{$v2.id}" title="{$v2.title}">{$v2.title|strcut=16}<span>{$v2[zan_num]}人点赞</span></a>
                                    </volist> 
                                </div>
                            </ul>
                        </volist>
                    </div>
                </div>

                <div class="dongt">
                    <div class="tdt clear">
                        <a href="/about/news"></a>
                    </div>
                    <div class="dtv">
                        <div id="shipin"><img src="/Uploads/default/dtimg.png" width="350" height="200"/></div>                       
                    </div>
                    <div class="fgline"></div>
                    <div class="dtlistl">
                        <volist name="dongtai" id="vo">
                            <a href="/about/content/id/{$vo.id}" class="<eq name='key' value='0'>bule</eq> clear">
                                <div class="fl">{$vo.title|strcut=17}</div><span class="fr">{:pdate($vo[addtime],'Y-m-d')}</span></a>
                        </volist>
                    </div>                   
                </div>
            </div>

            <!---->
            <div class="mid3">
                <img src="__PUBLIC__/home/images/bnav.jpg">
            </div>

            <!---->

            <div class="mid4">
                <div class="t_box">
                    <div class=" link icon5 icon5_1"></div>
<!--                    <div class=" link icon6"></div>            -->
                </div>
                <div class="link_box">
                    <div class="link_ph_box">
                        <div id="pic_list_1" class="scroll_horizontal"><a class="next"></a><a class="prev"></a>
                            <div class="box">
                                <ul class="list">
                                    <volist name="ltg" id="vo">
                                        <li><a href="{$vo.url}" target="_blank"><img src="{$vo.logo}"></a></li>
                                    </volist>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="link_ph_box" style="display: none;">
                        <div id="pic_list_2" class="scroll_horizontal"><a class="next"></a><a class="prev"></a>
                            <div class="box">
                                <ul class="list">
                                    <volist name="lhb" id="vo">
                                        <li><a href="{$vo.url}" target="_blank"><img src="{$vo.logo}"></a></li>
                                    </volist>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <include file="Public/footer" />       
        <script>
            $(function () {
                $('#log-form').submit(function () {
                    var uname = $('#log-username').val();
                    if (uname == '') {
                        msg.alert('请输入手机号');
                        return false;
                    } else if (!/^1[3-9]\d{9}$/.test(uname)) {
                        msg.alert("请输入正确的手机号");
                        return false;
                    } else if ($('#log-password').val() == '') {
                        msg.alert("请输入密码");
                        return false;
                    }
                });
                $('#shipin').shipin();
            })

            $("#slideContent").bxSlider({mode: 'fade', captions: true, nextText: '', prevText: ''});
            //注册
            var mobile, verify;
            $('#regist').click(function () {
                mobile = $.trim($('#getmobile').val());
                if (mobile == '' || !/^1[3-9]\d{9}$/.test(mobile)) {
                    msg.alert('手机号码为空或不正确!');
                    return false;
                }
                verify = $.trim($('#getverify').val());
                if (verify == '') {
                    msg.alert("验证码不能为空");
                    return false;
                }
                //手机验证成功
                $.post('/login/ajax_check_sms', {verify: verify, mobile: mobile}, function (d) {
                    if (d.status == 'y') {
                        var elm = $('<div>');
                        elm.load('/Login/regdlg', {mobile: mobile}, function (data) {
                            if (data == 'n') {
                                msg.alert('手机号已经注册了！');
                            } else {
                                $('body').append(elm);
                            }
                        }, 'json');

                    } else {
                        msg.alert('验证码错误!');
                    }
                }, 'json')
            })
            //获取验证码
            $('#get_verify').getverify({mobile: '#getmobile'});

            $(".hd_box").hide().first().show();
            $(".title_box").click(
                    function () {
                        $("ul").eq($(this).index()).show().siblings().hide();

                    }
            )

            $(".icon1").click(
                    function () {
                        $(this).addClass(" icon1_1").siblings().removeClass(" icon4_4").removeClass(" icon2_2").removeClass(" icon3_3");
                    }
            )
            $(".icon2").click(
                    function () {
                        $(this).addClass(" icon2_2").siblings().removeClass(" icon4_4").removeClass(" icon1_1").removeClass(" icon3_3");
                    }
            )
            $(".icon3").click(
                    function () {
                        $(this).addClass(" icon3_3").siblings().removeClass(" icon4_4").removeClass(" icon2_2").removeClass(" icon1_1");
                    }
            )
            $(".icon4").click(
                    function () {
                        $(this).addClass(" icon4_4").siblings().removeClass(" icon1_1").removeClass(" icon2_2").removeClass(" icon3_3");
                    }
            )

            $(".link_ph_box").hide().first().show();
            $(".link").click(
                    function () {
                        $(".link_ph_box").eq($(this).index()).show().siblings().hide();
                    }

            )
            $(".icon5").click(
                    function () {
                        $(this).addClass(" icon5_1").siblings().removeClass(" icon6_1");
                    }
            )
            $(".icon6").click(
                    function () {
                        $(this).addClass(" icon6_1").siblings().removeClass(" icon5_1");
                    }
            )
            $(".ldbox").hide().first().show();
            $(".but").click(
                    function () {
                        $(".ldbox").eq($(this).index()).show().siblings().hide();
                    }

            )
            $(".dl").click(
                    function () {
                        $(this).addClass("dl_1").siblings().removeClass("zc_1");
                    }
            )
            $(".zc").click(
                    function () {
                        $(this).addClass("zc_1").siblings().removeClass("dl_1");
                    }
            );
			
			$("#jzqw").click(function(){
			  $(".ldbox:eq(0)").show();
			  $(".ldbox:eq(1)").hide();
			  $(".dl").addClass("dl_1").siblings().removeClass("zc_1");
			});
			$("#jzqq").click(function(){
			  $(".ldbox:eq(1)").show();
			  $(".ldbox:eq(0)").hide();
			  $(".zc").addClass("zc_1").siblings().removeClass("dl_1");
			});
        </script>
    </body>
</html>
