@charset "utf-8";

body{ margin: 0;}

img{ display: block;}

a{ text-decoration: none; color: #fff;}

.joker{ max-width: 640px; margin: 0 auto; position: relative; overflow: hidden;}

/********************去除iOS自带按钮样式************************/
input[type="submit"],input[type="reset"],input[type="button"],input[type="text"],button{ -webkit-appearance: none;}
/************************************************************/

.pr{ position: relative;}

.pa{ position: absolute;}

.fix{ overflow: hidden;}

.clear{ clear: both;}

.fl{ float: left;}

.fr{ float: right;}

.dis{ display: block;}
.xiangq {
  width: 30%; font-size: .8rem; line-height: 1.6rem; height: 1.6rem; text-align: center; left: 35%; top: 0; color: #ffb8b4;
}

.btn {
  width: 88%; left: 6%; top: 0;
}

.wm {
  width: 100%;
}

.qkc {
  width: 45.4%; left: 27.3%; top: 0;
}

.shareqkc {
  width: 40%; left: 30%; top: 0;
}

.tet {
  width: 100%; text-align: center; color: #fff;
}
