<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>添加广告</title>
    <include file="Public:import" />
    <script>
        var group_id = "{$has_group|array_sum}";
        $(function () {
            $('#_form_').Validform({tiptype: _6, showAllError: true, ignoreHidden: true});
            //if change the group_id post a input
            $('input[name="group_id[]"]').on('ifChanged', function () {
                var sum = 0;
                $('input[name="group_id[]"]:checked').each(function () {
                    sum += Number($(this).val());
                })
                if (group_id != sum) {
                    $('#change_group').val('1')
                } else {
                    $('#change_group').val('0')
                }
            });
        });
    </script>
</head>

<body>
    <div class="mybreadcrumb">
        <ol class="breadcrumb">
            <li><a href="__MODULE__" target="_top"><i class="icon-home"></i>主页</a></li>
            <li><a href="__URL__/index">后台用户管理</a></li>
            <li class="active">{$action_name}</li>
        </ol>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">{$action_name}</div>
        <div class="panel-body">
            <form class="form-horizontal" action="__SELF__" method="post" role="form" id="_form_">
                <input type="hidden" name="id" value="{$data.id}" />
                <div class="form-group">
                    <label class="col-sm-1 control-label">用户名</label>
                    <div class="col-sm-5">
                        <p class="form-control-static">{$data.user}</p>
                    </div>
                </div> 
                <input name="change_group" value="0" id="change_group" type="hidden" />
                <if condition="is_me!=1">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">所属用户组</label>
                        <div class="col-sm-10">                        
                            <volist name="group" id="vo">
                                <label class="checkbox-inline"><input datatype="*" name="group_id[]" type="checkbox" value="{$vo.id}" <if condition="in_array($vo['id'],$has_group)">checked</if> />{$vo.title}</label>
                            </volist>
                        </div>
                    </div>
                </if>
                <div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">昵称</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="nickname" value="{$data.nickname}" datatype="*" placeholder="请输入昵称">
                        </div>
                    </div>  
                    <if condition="$_SESSION['admin']['id']==1">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">密码</label>
                            <div class="col-sm-5">
                                <input type="button" id="edit_pwd" class="btn btn-link" value="修改密码" />                            
                            </div>
                            <script>
                                $(function () {
                                    $('#edit_pwd').click(function () {
                                        $(this).after('<input type="password" id="input_pwd" class="form-control" name="pwd"  datatype="*6-20" placeholder="请输入密码">');

                                        $(this).hide();
                                    })
                                })

                            </script>
                        </div>
                    </if>
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-10">
                            <button type="submit" class="btn btn-success">保存</button>
                            <button type="reset" class="btn btn-default">重置</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
<include file="Public:footer" />
</body>
</html>
