<div class="modal fade" id="modal_upload_excel" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">上传Excel文件</h4>
            </div>
            <div class="modal-body">
                <form id="upload_excel_file" action="__URL__/fromExcel" class="form-inline" method="post" enctype="multipart/form-data" role="form">
                    <div class="form-group">
                        <label class="sr-only" for="inputfile">选择Excel文件</label>
                        <input type="file" name="excel_file" id="inputfile">
                    </div>
                    <input type="submit" value="上传" class="btn btn-success" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="footer"><span class="go-top" id="goTop" title="返回顶部"><i class="icon-angle-up"></i></span></div>
