<script type="text/javascript" src="__PUBLIC__/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/uploadify/uploadify_msg_zh.js"></script>
<script type="text/javascript">
    /**
     * 
     * 配置 更改配置 如下
     * var up_one_conf={formData:{type:3,width:800,height:800}}
     * 定义type  1 有水印  2 有大小图片  3： 1和2结合 4只改变尺寸  默认：使用原图不进行任何处理
     */
    var temp_config = {
        auto: true, //关闭自动上传
        removeTimeout: 1, //文件队列上传完成1秒后删除
        swf: '__PUBLIC__/uploadify/uploadify.swf',
        uploader: '__MODULE__/Login/uploadImg',
        buttonClass: 'btn btn-success',
        method: 'post', //方法，服务端可以用$_POST数组获取数据
        buttonText: '上传多图', //设置按钮文本
        multi: true, //允许同时上传多张图片
        width: 96,
        height: 34,
        uploadLimit: 10, //一次最多只允许上传10张图片
        overrideEvents: ['onDialogClose', 'onSelectError'],
        fileTypeDesc: 'Image Files', //只允许上传图像
        fileTypeExts: '*.gif; *.jpg; *.png', //限制允许上传的图片后缀
        fileSizeLimit: '1024KB', //限制上传的图片大小        
        //配置文件的错误信息
        onSelectError: uploadify_onSelectError,
        onUploadSuccess: function(file, data, response) { //每次成功上传后执行的回调函数，从服务端返回数据到前端
            var str = '<img ondblclick="delimg(this)" src="' + data + '"  height="100" title="双击删除图片" /><input type="hidden" value="' + data + '" name="picture[]" />';
            $('#imgbox').append(str);
        }
    };

    $(function() {
        //如果添加了配置
        if (typeof (up_mul_conf) != 'undefined') {
            temp_config = $.extend(temp_config, up_mul_conf);
        }
        $('#mute_file_upload').uploadify(temp_config);
    });
    function delimg(obj) {
        $.get('{:U("Login/delimg")}', {imgfile: $(obj).next('input').val()}, function(data) {
            $(obj).next('input').remove();
            $(obj).remove();
        });
    }
</script>